# Atención primaria España

In [2]:
import pandas as pd
import os

datos [porta estadístico](https://pestadistico.inteligenciadegestion.mscbs.es/publicoSNS/S/base-de-datos-de-clinicos-de-atencion-primaria-bdcap)

In [2]:
#consulta de datasets

In [14]:
os.listdir('../data/at_primaria')
#'at_primaria.csv' = at_prim.xlsx

['at_prim.xlsx',
 'at_primaria.csv',
 'at_primaria.ipynb',
 'datos_calidad_vida_multi.xlsx',
 'detalles_psico.csv',
 'detalles_psico.xlsx',
 'Problemas_psicológicos.csv',
 'Problemas_psicológicos.xls',
 'Renta por hogar por comunidades autónomas.csv',
 'Renta por hogar por comunidades autónomas.xlsx',
 'Tasa de riesgo de pobreza por comunidades autónomas.csv',
 'Tasa de riesgo de pobreza por comunidades autónomas.xlsx',
 'Tasas de actividad, paro y empleo por provincia y sexo.csv',
 'Tasas de actividad, paro y empleo por provincia y sexo_Tab.csv']

In [4]:
at_primaria = pd.read_excel('../data/at_primaria/at_prim.xlsx')

In [5]:
at_primaria.sample(10) # casos de atención psicológica
#no entiendo muy bien los casos por mil personas cuando hay más de mil

,Año,CCAA,Sexo,Nivel Renta,Situación Laboral,Grandes Grupos,Casos,Casos por mil personas asignadas,Casos por mil personas atendidas,Personas con problemas de salud,Personas con problemas de salud por mil asignadas,Personas con problemas de salud por mil atendidas
6278,2016,02-Aragón,Mujer,18.000-99.999 ? /año,Otras situaciones,35-64 años,1621.0,483.97,500.23,1196.0,357.15,369.15
3714,2014,10-Comunidad Valenciana,Hombre,<18.000 ? /año,No activos,00-14 años,62263.0,265.06,272.84,41383.0,176.17,181.35
8813,2017,09-Cataluña,Mujer,Muy baja,Desempleados,15-34 años,2449.0,243.17,323.80,1582.0,157.05,209.13
2346,2013,12-Galicia,Hombre,Muy baja,Otras situaciones,65 y más años,NaN,NaN,NaN,NaN,NaN,NaN
6539,2016,05-Canarias,Hombre,18.000-99.999 ? /año,No activos,15-34 años,6501.0,283.39,315.23,4516.0,196.88,219.00
13011,2019,14-Murcia,Mujer,Sin Clasificar,Otras situaciones,65 y más años,NaN,NaN,NaN,NaN,NaN,NaN
4674,2015,03-Asturias,Hombre,<18.000 ? /año,Pensionistas,65 y más años,32757.0,686.42,688.00,22471.0,470.89,471.97
3864,2014,11-Extremadura,Mujer,<18.000 ? /año,No activos,15-34 años,1646.0,47.92,59.48,1460.0,42.52,52.77
2897,2014,02-Aragón,Hombre,Muy baja,Otras situaciones,65 y más años,NaN,NaN,NaN,NaN,NaN,NaN
5151,2015,07-Castilla y León,Mujer,<18.000 ? /año,Otras situaciones,65 y más años,6557.0,305.86,505.97,4901.0,228.62,378.19

In [6]:
#at_primaria.columns = at_primaria.columns.str.lower()
at_primaria.columns = at_primaria.columns.str.replace(" ","_")

In [7]:
at_primaria

,Año,CCAA,Sexo,Nivel_Renta,Situación_Laboral,Grandes_Grupos,Casos,Casos_por_mil_personas_asignadas,Casos_por_mil_personas_atendidas,Personas_con_problemas_de_salud,Personas_con_problemas_de_salud_por_mil_asignadas,Personas_con_problemas_de_salud_por_mil_atendidas
0,2011,02-Aragón,Hombre,Sin Clasificar,Otras situaciones,00-14 años,15124.0,162.59,173.38,12709.0,136.62,145.69
1,2011,02-Aragón,Hombre,Sin Clasificar,Otras situaciones,15-34 años,33756.0,241.65,288.89,26912.0,192.66,230.32
2,2011,02-Aragón,Hombre,Sin Clasificar,Otras situaciones,35-64 años,114724.0,405.98,469.04,82976.0,293.63,339.24
3,2011,02-Aragón,Hombre,Sin Clasificar,Otras situaciones,65 y más años,61073.0,509.34,522.23,43847.0,365.68,374.93
4,2011,02-Aragón,Mujer,Sin Clasificar,Otras situaciones,00-14 años,8688.0,98.02,104.54,7658.0,86.40,92.16
...,...,...,...,...,...,...,...,...,...,...,...,...
13330,2019,17-La Rioja,Mujer,Muy baja,Otras situaciones,35-64 años,NaN,NaN,NaN,NaN,NaN,NaN
13331,2019,17-La Rioja,Mujer,Muy baja,Otras situaciones,65 y más años,NaN,NaN,NaN,NaN,NaN,NaN
13332,2019,17-La Rioja,Mujer,Sin Clasificar,Otras situaciones,00-14 años,NaN,NaN,NaN,NaN,NaN,NaN
13333,2019,17-La Rioja,Mujer,Sin Clasificar,Otras situaciones,35-64 años,387.0,916.82,1014.07,228.0,539.35,596.55
13334,2019,17-La Rioja,Mujer,Sin Clasificar,Otras situaciones,65 y más años,3594.0,1119.28,1150.61,2160.0,672.79,691.62

In [8]:
psico_prim = pd.read_excel('../data/at_primaria/detalles_psico.xlsx')

In [9]:

psico_prim.columns = psico_prim.columns.str.replace(" ",'_')

In [10]:
psico_prim.sample(10)

,Año,CCAA,Sexo,Nivel_Renta,Grandes_Grupos,Problema_de_Salud,Casos
17836,2012,15-Navarra,Mujer,Muy baja,65 y más años,P17 - Abuso del tabaco,NaN
119255,2016,14-Murcia,Hombre,?100.000 ? /año,00-14 años,P16 - Abuso agudo del alcohol,NaN
71341,2015,01-Andalucía,Hombre,Sin Clasificar,00-14 años,P18 - Abuso de fármacos,NaN
63313,2014,12-Galicia,Mujer,Muy baja,15-34 años,P86 - Anorexia nerviosa/bulimia,NaN
67987,2014,15-Navarra,Mujer,?100.000 ? /año,00-14 años,P08 - Ausencia/pérdida de la satisfación sexual,NaN
196625,2019,07-Castilla y León,Mujer,Sin Clasificar,65 y más años,P77 - Suicidio/intento de suicidio,NaN
143285,2017,10-Comunidad Valenciana,Mujer,Sin Clasificar,15-34 años,P24 - Problemas específicos del aprendizaje,NaN
102734,2016,04-Baleares,Hombre,<18.000 ? /año,15-34 años,P82 - Estrés postraumático,NaN
63017,2014,12-Galicia,Mujer,18.000-99.999 ? /año,65 y más años,P09-07 - Disfunción/preocupación sexual no inc...,NaN
161158,2018,04-Baleares,Hombre,Muy baja,65 y más años,P74 - Trastornos de la ansiedad/estado de ansi...,375.0

In [11]:
psico_prim.isna().sum()

Año                       0
CCAA                      0
Sexo                      0
Nivel_Renta               0
Grandes_Grupos            0
Problema_de_Salud         0
Casos                182993
dtype: int64

In [12]:
psico_prim.shape

(213840, 7)

In [13]:
psico_prim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213840 entries, 0 to 213839
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Año                213840 non-null  int64
 1   CCAA               213840 non-null  object
 2   Sexo               213840 non-null  object
 3   Nivel_Renta        213840 non-null  object
 4   Grandes_Grupos     213840 non-null  object
 5   Problema_de_Salud  213840 non-null  object
 6   Casos              30847 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 11.4+ MB

In [14]:
list(psico_prim.CCAA.unique())

['02-Aragón',
 '04-Baleares',
 '05-Canarias',
 '07-Castilla y León',
 '09-Cataluña',
 '12-Galicia',
 '16-País Vasco',
 '08-Castilla la Mancha',
 '10-Comunidad Valenciana',
 '15-Navarra',
 '03-Asturias',
 '06-Cantabria',
 '11-Extremadura',
 '13-Madrid',
 '14-Murcia',
 '01-Andalucía',
 '17-La Rioja']

In [15]:
psico_prim.CCAA=psico_prim.CCAA.str.extract(r'([A-Z][a-z].*)')

In [16]:
list(psico_prim.Nivel_Renta.unique())

['Sin Clasificar',
 '?100.000 ? /año',
 '18.000-99.999 ? /año',
 '<18.000 ? /año',
 'Muy baja']

In [17]:
renta ={'Sin Clasificar':'desconocida',
 '?100.000 ? /año': '+ 100000',
 '18.000-99.999 ? /año': '18000-99999',
 '<18.000 ? /año':'- 18000',
 'Muy baja':'muy_baja'}

In [18]:
psico_prim.Nivel_Renta = psico_prim.Nivel_Renta.replace(renta)

In [19]:
psico_prim.Grandes_Grupos = psico_prim.Grandes_Grupos.str.extract(r'(\d+-*\d+)')

In [20]:
psico_prim.rename({"Grandes_Grupos":"Edad"},axis = 1,inplace = True)

In [21]:
psico_prim

,Año,CCAA,Sexo,Nivel_Renta,Edad,Problema_de_Salud,Casos
0,2011,Aragón,Hombre,desconocida,00-14,P01 - Sensación de ansiedad/tensión/nerviosismo,284.0
1,2011,Aragón,Hombre,desconocida,00-14,P02 - Estrés agudo,NaN
2,2011,Aragón,Hombre,desconocida,00-14,P03 - Sensación/sentimientos depresivos,NaN
3,2011,Aragón,Hombre,desconocida,00-14,P04 - Sensación/sentimientos de irritabilidad/...,NaN
4,2011,Aragón,Hombre,desconocida,00-14,P05 - Sentimientos/conducta senil,NaN
...,...,...,...,...,...,...,...
213835,2019,La Rioja,Mujer,desconocida,65,P82/02 - Reacción de adaptación no incluida en...,NaN
213836,2019,La Rioja,Mujer,desconocida,65,P85 - Retraso mental,NaN
213837,2019,La Rioja,Mujer,desconocida,65,P86 - Anorexia nerviosa/bulimia,NaN
213838,2019,La Rioja,Mujer,desconocida,65,P98 - Otras psicosis no especificadas,NaN
213839,2019,La Rioja,Mujer,desconocida,65,P99 - Otros problemas psicológicos/mentales,NaN

In [22]:
psico_prim.Casos.unique()

array([ 284.,   nan, 1305., ...,  159.,   91., 4646.])

In [23]:
psico_prim.Casos.fillna(0.,inplace = True)

In [46]:
psico_prim.groupby('Problema_de_Salud')['Casos'].sum()
#agrupar + dropear P27,P28, P25

Problema_de_Salud
P01 - Sensación de ansiedad/tensión/nerviosismo                              12544545
P02 - Estrés agudo                                                             330192
P03 - Sensación/sentimientos depresivos                                        710482
P04 - Sensación/sentimientos de irritabilidad/enojo                            160582
P05 - Sentimientos/conducta senil                                              557125
P06 - Trastornos del sueño                                                   17698499
P07 - Disminución del deseo sexual                                             103189
P08 - Ausencia/pérdida de la satisfación sexual                               1300260
P09 - Preocupación sobre las preferencias sexuales                              17689
P09-07 - Disfunción/preocupación sexual no incluida en P07 a P09              1149327
P10 - Tartamudeo, disfemia espasmódica, tics                                   435128
P11 - Problemas de la conducta alimentaria en niños                             92173
P12 - Enuresis                                                                 743570
P13 - Encopresis                                                                56962
P15 - Abuso crónico del alcohol                                               1995082
P16 - Abuso agudo del alcohol                                                  459749
P17 - Abuso del tabaco                                                       18983084
P18 - Abuso de fármacos                                                         48563
P19 - Abuso de drogas                                                         1818725
P20 - Trastornos de la memoria                                                2872567
P22+23 - Signos/síntomas de comportamiento del niño/adolescente (P22+P23)      781163
P24 - Problemas específicos del aprendizaje                                   1179020
P25 - Problemas de las etapas de la vida en adultos                               370
P27 - Miedo a una enfermedad mental                                                 0
P28 - Incapacidad/minusvalía mental                                                 0
P29 - Otros signos/síntomas psicológicos/mentales                              951587
P70 - Demencia                                                                2953940
P71 - Otras psicosis orgánicas                                                2212806
P72 - Esquizofrenia                                                           1126894
P73 - Psicosis afectivas                                                      1711432
P74 - Trastornos de la ansiedad/estado de ansiedad                           24051872
P75 - Trastornos de somatización/de conversión                                1581960
P76 - Depresión/trastornos depresivos                                        14493366
P77 - Suicidio/intento de suicidio                                             177322
P78 - Neurastenia/surmenage                                                     17980
P79 - Fobia/trastorno compulsivo                                               988382
P80 - Trastornos de la personalidad                                           2014828
P81 - Trastornos hipercinéticos                                               1406018
P82 - Estrés postraumático                                                     255290
P82/02 - Reacción de adaptación no incluida en P02 o P82                      5977505
P85 - Retraso mental                                                           426103
P86 - Anorexia nerviosa/bulimia                                                288853
P98 - Otras psicosis no especificadas                                          479846
P99 - Otros problemas psicológicos/mentales                                    814943
Name: Casos, dtype: int64

In [45]:
total[total["Casos"]==total.Casos.max()]

                                    Problema_de_Salud     Casos
30  P74 - Trastornos de la ansiedad/estado de ansi...  24051872

In [33]:
psico_prim.groupby(["Año","CCAA","Problema_de_Salud"]).agg({"Casos":"sum"}).reset_index()

,Año,CCAA,Problema_de_Salud,Casos
0,2011,Aragón,P01 - Sensación de ansiedad/tensión/nerviosismo,122032
1,2011,Aragón,P02 - Estrés agudo,2976
2,2011,Aragón,P03 - Sensación/sentimientos depresivos,6784
3,2011,Aragón,P04 - Sensación/sentimientos de irritabilidad/...,2207
4,2011,Aragón,P05 - Sentimientos/conducta senil,0
...,...,...,...,...
5759,2019,País Vasco,P82/02 - Reacción de adaptación no incluida en...,138393
5760,2019,País Vasco,P85 - Retraso mental,1609
5761,2019,País Vasco,P86 - Anorexia nerviosa/bulimia,847
5762,2019,País Vasco,P98 - Otras psicosis no especificadas,3939
5763,2019,País Vasco,P99 - Otros problemas psicológicos/mentales,1786

In [36]:
psico_prim.Casos.max()

307385

In [6]:
renta = pd.read_excel('../data/at_primaria/Renta por hogar por comunidades autónomas.xlsx')

In [7]:
renta

,Comunidades y Ciudades Autónomas,Renta anual neta media por hogar,Periodo,Total
0,01 Andalucía,Renta neta media por hogar,2020,25909
1,01 Andalucía,Renta neta media por hogar,2019,23826
2,01 Andalucía,Renta neta media por hogar,2018,24091
3,01 Andalucía,Renta neta media por hogar,2017,23699
4,01 Andalucía,Renta neta media por hogar,2016,21966
...,...,...,...,...
489,19 Melilla,Renta media por hogar (con alquiler imputado),2012,42857
490,19 Melilla,Renta media por hogar (con alquiler imputado),2011,40890
491,19 Melilla,Renta media por hogar (con alquiler imputado),2010,41844
492,19 Melilla,Renta media por hogar (con alquiler imputado),2009,38928
493,19 Melilla,Renta media por hogar (con alquiler imputado),2008,38099

In [18]:
pobreza = pd.read_excel('../data/at_primaria/Tasa de riesgo de pobreza por comunidades autónomas.xlsx')

In [20]:
pobreza.head()

,Comunidades y Ciudades Autónomas,Tasa de riesgo de pobreza,Periodo,Total
0,01 Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2020,28.5
1,01 Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2019,31.3
2,01 Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2018,32.0
3,01 Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2017,31.0
4,01 Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2016,35.4

In [40]:
paro = pd.read_excel('../data/at_primaria/Tasas de actividad, paro y empleo por provincia y sexo_Tab.xlsx')

In [42]:
paro.Tasas.unique()

array(['Tasa de actividad', 'Tasa de paro de la población',
       'Tasa de empleo de la población'], dtype=object)