In [1]:
import pandas as pd
import os

In [2]:
os.listdir('../data/eurostats')

['causes_death.tsv']

In [3]:
euro_01 = pd.read_csv('../data/eurostats/causes_death.tsv')

In [4]:
col_eutime = euro_01.columns[-1]

In [5]:
new_col = euro_01.columns[-1].split('\t')

In [6]:
euro_01[new_col] = euro_01[col_eutime].str.split("\t",expand=True)

In [7]:
euro_01.sample(5)

,unit,sex,age,icd10,resid,geo\time\t2019 \t2018 \t2017 \t2016 \t2015 \t2014 \t2013 \t2012 \t2011,geo\time,2019,2018,2017,2016,2015,2014,2013,2012,2011
425719,NR,T,Y40-44,I,TOT_RESID,IT\t: \t643 p\t693 \t700 \t764 \t754 \t745 \t7...,IT,:,643 p,693,700,764,754,745,779,789
256777,NR,M,Y5-9,I,TOT_IN,UK\t: \t4 \t5 \t12 \t6 \t5 \t4 \t5 \t3,UK,:,4,5,12,6,5,4,5,3
394261,NR,T,Y15-24,K,TOT_RESID,MT\t: \t0 p\t0 \t0 \t0 \t0 \t0 \t0 \t0,MT,:,0 p,0,0,0,0,0,0,0
140372,NR,F,Y_GE65,J,TOT_RESID,RO\t: \t5266 p\t4866 \t4472 \t4691 \t3996 \t37...,RO,:,5266 p,4866,4472,4691,3996,3736,3884,3417
474965,NR,T,Y75-79,C,TOT_IN,NO\t: \t1716 \t1558 \t1512 \t1558 \t1567 \t147...,NO,:,1716,1558,1512,1558,1567,1476,1457,1553

In [8]:
euro_01.shape

(545748, 16)

In [9]:
euro_01.drop(col_eutime,axis=1,inplace = True)

In [10]:
euro_01.columns=euro_01.columns.str.strip()

In [11]:
euro_01.drop('unit',axis=1,inplace = True)

In [12]:
euro_01.rename({"geo\\time":"c_code"},axis=1,inplace =True)

In [13]:
euro_01.icd10.unique()

array(['A-R_V-Y', 'A15-A19_B90', 'ACC', 'ACC_OTH', 'A_B', 'A_B_OTH',
       'B15-B19_B942', 'B180-B182', 'B20-B24', 'C', 'C00-C14', 'C00-D48',
       'C15', 'C16', 'C18-C21', 'C22', 'C25', 'C32', 'C33_C34', 'C43',
       'C50', 'C53', 'C54_C55', 'C56', 'C61', 'C64', 'C67', 'C70-C72',
       'C73', 'C81-C86', 'C88_C90_C96', 'C91-C95', 'C_OTH', 'D00-D48',
       'D50-D89', 'E', 'E10-E14', 'E_OTH', 'F', 'F01_F03', 'F10', 'F_OTH',
       'G20', 'G30', 'G_H', 'G_H_OTH', 'I', 'I20-I25', 'I20_I23-I25',
       'I21_I22', 'I30-I51', 'I60-I69', 'I_OTH', 'J', 'J09-J11',
       'J12-J18', 'J40-J44_J47', 'J40-J47', 'J45_J46', 'J_OTH', 'K',
       'K25-K28', 'K70_K73_K74', 'K72-K75', 'K_OTH', 'L', 'M', 'M_OTH',
       'N', 'N00-N29', 'N_OTH', 'O', 'P', 'Q', 'R', 'R95', 'R96-R99',
       'RHEUM_ARTHRO', 'R_OTH', 'TOXICO', 'V01-Y89', 'V01-Y89_OTH',
       'V_Y85', 'W00-W19', 'W65-W74', 'X40-X49', 'X60-X84_Y870',
       'X85-Y09_Y871', 'Y10-Y34_Y872'], dtype=object)

In [14]:
euro_01 = euro_01[euro_01["icd10"].str.contains(r'(^F)')]

<ipython-input-14-c8388e9bdf26>:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  euro_01 = euro_01[euro_01["icd10"].str.contains(r'(^F)')]

In [15]:
#[TOT_IN] All deaths reported in the country 
# [TOT_RESID] All deaths of residents in or outside their home country
#only tot_in

In [16]:
euro_01 = euro_01[euro_01['resid'] == 'TOT_IN']

In [17]:
euro_01.drop('resid',axis=1,inplace=True)

In [18]:
euro_01.sex.unique() #drop T

array(['F', 'M', 'T'], dtype=object)

In [19]:
euro_01.age.unique() #drop TOTAL

array(['TOTAL', 'Y1-4', 'Y10-14', 'Y15-19', 'Y15-24', 'Y20-24', 'Y25-29',
       'Y30-34', 'Y35-39', 'Y40-44', 'Y45-49', 'Y5-9', 'Y50-54', 'Y55-59',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y75-79', 'Y80-84', 'Y85-89',
       'Y90-94', 'Y_GE65', 'Y_GE85', 'Y_GE95', 'Y_LT1', 'Y_LT15',
       'Y_LT25', 'Y_LT65'], dtype=object)

In [20]:
euro_01.sample(10)

,sex,age,icd10,c_code,2019,2018,2017,2016,2015,2014,2013,2012,2011
243344,M,Y40-44,F10,TR,:,0,2,0,3,4,2,4,5
106753,F,Y70-74,F,NO,:,53,54,36,36,33,34,41,34
210778,M,Y15-24,F01_F03,NO,:,0,0,0,0,0,0,0,0
80962,F,Y50-54,F_OTH,CZ,2,0,3,1,1,0,0,0,1
236825,M,Y35-39,F10,FI,4,2,4,1,3,2,3,1,2
152286,F,Y_GE95,F01_F03,EE,6,6,4,1,1,3,1,1,2
431668,T,Y45-49,F01_F03,IS,:,0,0,0,0,0,0,0,0
223846,M,Y25-29,F10,PL,25,33,25,21,17,12,3,9,22
28847,F,Y15-24,F01_F03,EU28,:,:,1,0,1,0,1,2,0
288739,M,Y70-74,F01_F03,LV,:,15,10,16,3,8,4,5,8

In [21]:
euro_01 = euro_01[euro_01['age'] != 'TOTAL']

In [22]:
euro_01 = euro_01[euro_01['sex'] != 'T']

In [23]:
euro_01.icd10.unique()

array(['F', 'F01_F03', 'F10', 'F_OTH'], dtype=object)

In [24]:
# [F] Mental and behavioural disorders (F00-F99)
# [F_OTH] Other mental and behavioural disorders (remainder of F00-F99)
#  [F01_F03] Dementia
# [F10] Mental and behavioural disorders due to use of alcohol
F_dic = {"F":"Mental and behavioural disorders","F10":'Mental and behavioural disorders due to use of alcohol','F01_F03':'Dementia',
            'F10':'Mental and behavioural disorders due to use of alcohol','F_OTH':'Other mental and behavioural disorders'}

In [25]:
euro_01["diag"] = euro_01.icd10.replace(F_dic)

In [26]:
euro_01.c_code

9271      AT
9272      BE
9273      BG
9274      CH
9275      CY
          ..
360360    SE
360361    SI
360362    SK
360363    TR
360364    UK
Name: c_code, Length: 7992, dtype: object

In [27]:
euro_01.c_code.unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'EU28', 'FI', 'FR', 'FX', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO',
       'RS', 'SE', 'SI', 'SK', 'TR', 'UK'], dtype=object)

In [28]:
eurozon = ['EU27_2020', 'EU28']

In [29]:
euro_01 = euro_01[euro_01['c_code'].isin(eurozon) == False]

In [30]:
#FX = France, metropolitan
countries_dic = {"AT":"Austria","BE":"Belgium","BG":"Bulgaria","HR":"Croatia","CY":"Cyprus","CZ":"Czech Republic","DK":"Denmark",
"EE":"Estonia","FI":"Finland","FR":"France","FX":"France","DE":"Germany","EL":"Greece","HU":"Hungary","IS":"Iceland","IE":"Ireland, Republic of (EIRE)",
"IT":"Italy","LV":"Latvia","LT":"Lithuania","LI":"Liechtenstein","LU":"Luxembourg","MT":"Malta","NL":"Netherlands","NO":"Norway","PL":"Poland",
"PT":"Portugal","RO":"Romania","SK":"Slovakia","SI":"Slovenia","ES":"Spain","RS":"Serbia","SE":"Sweden","CH":"Switzerland","TR":"Turkey","UK":"United Kingdom"}

In [31]:
euro_01["country"] = euro_01['c_code'].replace(countries_dic)

In [32]:
euro_01.country.unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Cyprus',
       'Czech Republic', 'Germany', 'Denmark', 'Estonia', 'Greece',
       'Spain', 'Finland', 'France', 'Croatia', 'Hungary',
       'Ireland, Republic of (EIRE)', 'Iceland', 'Italy', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Malta', 'Netherlands',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Sweden',
       'Slovenia', 'Slovakia', 'Turkey', 'United Kingdom'], dtype=object)

In [33]:
euro_01.sample(5)

,sex,age,icd10,c_code,2019,2018,2017,2016,2015,2014,2013,2012,2011,diag,country
152285,F,Y_GE95,F01_F03,DK,:,350,283,280,249,251,241,225,201,Dementia,Denmark
54996,F,Y35-39,F_OTH,NO,:,0,0,1,1,1,2,0,0,Other mental and behavioural disorders,Norway
191264,M,Y1-4,F01_F03,CY,:,: c,: c,: c,: c,: c,: c,: c,: c,Dementia,Cyprus
126436,F,Y85-89,F_OTH,AT,3,0,0,2,0,1,1,1,0,Other mental and behavioural disorders,Austria
295315,M,Y75-79,F10,RO,10,13,15,12,12,18,5,2,3,Mental and behavioural disorders due to use of...,Romania

In [34]:
years = euro_01.columns[4:13]

In [35]:
years

Index(['2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011'], dtype='object')

In [36]:
for y in years:
    euro_01[y]=euro_01[y].str.strip()

In [37]:
euro_01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7560 entries, 9271 to 360364
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sex      7560 non-null   object
 1   age      7560 non-null   object
 2   icd10    7560 non-null   object
 3   c_code   7560 non-null   object
 4   2019     7560 non-null   object
 5   2018     7560 non-null   object
 6   2017     7560 non-null   object
 7   2016     7560 non-null   object
 8   2015     7560 non-null   object
 9   2014     7560 non-null   object
 10  2013     7560 non-null   object
 11  2012     7560 non-null   object
 12  2011     7560 non-null   object
 13  diag     7560 non-null   object
 14  country  7560 non-null   object
dtypes: object(15)
memory usage: 945.0+ KB

In [38]:
dropeo_desconocido = euro_01[(euro_01["2017"] == ': c') | (euro_01["2016"] == ': c')].index

In [39]:
euro_01.shape

(7560, 15)

In [40]:
euro_01.drop(dropeo_desconocido,inplace=True)

In [41]:
euro_01[euro_01["2019"] == ":"]

,sex,age,icd10,c_code,2019,2018,2017,2016,2015,2014,2013,2012,2011,diag,country
9272,F,Y1-4,F,BE,:,0,0,0,1,0,0,0,0,Mental and behavioural disorders,Belgium
9274,F,Y1-4,F,CH,:,0,0,0,0,0,0,0,1,Mental and behavioural disorders,Switzerland
9278,F,Y1-4,F,DK,:,0,0,0,0,0,0,0,0,Mental and behavioural disorders,Denmark
9285,F,Y1-4,F,FR,:,:,0,0,0,0,0,1,0,Mental and behavioural disorders,France
9286,F,Y1-4,F,FX,:,:,0,0,0,0,0,1,0,Mental and behavioural disorders,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360355,M,Y_LT65,F_OTH,NO,:,11,14,6,11,6,7,14,12,Other mental and behavioural disorders,Norway
360357,M,Y_LT65,F_OTH,PT,:,21,16,22,14,14,29,22,24,Other mental and behavioural disorders,Portugal
360360,M,Y_LT65,F_OTH,SE,:,9,12,14,12,7,13,14,10,Other mental and behavioural disorders,Sweden
360363,M,Y_LT65,F_OTH,TR,:,39,49,41,59,27,44,98,81,Other mental and behavioural disorders,Turkey
360364,M,Y_LT65,F_OTH,UK,:,22,25,24,21,15,22,21,20,Other mental and behavioural disorders,United Kingdom

In [42]:
for y in years:
    euro_01[y]=euro_01[y].replace(':','0')

In [43]:
for y in years:
    indexando = []
    indexando.append(list(euro_01[euro_01[y] == ': c'].index))
    euro_01.drop(indexando[0],inplace = True)

In [44]:
euro_01.shape

(6997, 15)