In [79]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import pandas as pd
import plotly.graph_objects as go

# Tasas activdad,empleo y paro España

In [3]:
paro = pd.read_excel('../data/at_primaria/Tasas de actividad, paro y empleo por provincia y sexo_Tab.xlsx')

In [4]:
paro['Year'] = paro.Periodo.str.extract(r'(\d\d\d\d)').astype('int64')

In [5]:
paro['Trimestre'] = paro.Periodo.str.extract(r'(\d$)').astype('int64')

In [6]:
paro[['codPr','Provincias']] = paro.Provincias.str.split(" ",1,expand = True)

In [7]:
paro.codPr = paro.codPr.astype('int64')

In [8]:
paro.sample()

,Sexo,Provincias,Tasas,Periodo,Total,Year,Trimestre,codPr
4423,Hombres,Murcia,Tasa de paro de la población,2020T2,12.94,2020,2,30

In [9]:
paro.Tasas.unique()

array(['Tasa de actividad', 'Tasa de paro de la población',
       'Tasa de empleo de la población'], dtype=object)

In [10]:
mes_tri = {1:3,2:6,3:9,4:12}

In [11]:
paro["mes"] = paro.Trimestre.map(mes_tri)

In [12]:
paro.columns

Index(['Sexo', 'Provincias', 'Tasas', 'Periodo', 'Total', 'Year', 'Trimestre',
       'codPr', 'mes'],
      dtype='object')

In [13]:
paro["date"] = pd.to_datetime({'year': paro.Year,
                           'month': paro.mes,
                           'day': 25
                           })

In [14]:
paro.Tasas.value_counts()

Tasa de actividad                 4888
Tasa de paro de la población      4888
Tasa de empleo de la población    4888
Name: Tasas, dtype: int64

In [15]:
paro

,Sexo,Provincias,Tasas,Periodo,Total,Year,Trimestre,codPr,mes,date
0,Hombres,Albacete,Tasa de actividad,2021T3,65.69,2021,3,2,9,2021-09-25
1,Hombres,Albacete,Tasa de actividad,2021T2,63.94,2021,2,2,6,2021-06-25
2,Hombres,Albacete,Tasa de actividad,2021T1,62.85,2021,1,2,3,2021-03-25
3,Hombres,Albacete,Tasa de actividad,2020T4,63.95,2020,4,2,12,2020-12-25
4,Hombres,Albacete,Tasa de actividad,2020T3,62.40,2020,3,2,9,2020-09-25
...,...,...,...,...,...,...,...,...,...,...
14659,Mujeres,Melilla,Tasa de empleo de la población,2011T1,38.00,2011,1,52,3,2011-03-25
14660,Mujeres,Melilla,Tasa de empleo de la población,2010T4,30.78,2010,4,52,12,2010-12-25
14661,Mujeres,Melilla,Tasa de empleo de la población,2010T3,30.14,2010,3,52,9,2010-09-25
14662,Mujeres,Melilla,Tasa de empleo de la población,2010T2,28.89,2010,2,52,6,2010-06-25
14663,Mujeres,Melilla,Tasa de empleo de la población,2010T1,28.24,2010,1,52,3,2010-03-25

In [32]:
actividad = paro[paro['Tasas'] == 'Tasa de actividad'].reset_index()

In [33]:
empleo = paro[paro['Tasas'] == 'Tasa de empleo de la población'].reset_index()

In [34]:
parados = paro[paro['Tasas'] == 'Tasa de paro de la población'].reset_index()

In [38]:
actividad.drop('index',axis=1,inplace = True)

In [51]:
total = pd.concat([actividad,empleo[['Total']],parados[['Total']]],axis=1)

In [52]:
total.columns

Index(['Sexo', 'Provincias', 'Tasas', 'Periodo', 'Total', 'Year', 'Trimestre',
       'codPr', 'mes', 'date', 'Total', 'Total'],
      dtype='object')

In [53]:
total.columns

Index(['Sexo', 'Provincias', 'Tasas', 'Periodo', 'Total', 'Year', 'Trimestre',
       'codPr', 'mes', 'date', 'Total', 'Total'],
      dtype='object')

In [54]:
total.columns = ['Sexo', 'Provincias', 'Tasas', 'Periodo', 'actividad', 'Year',
       'Trimestre', 'codPr', 'mes', 'date', 'empleo', 'paro']

In [55]:
total.drop('Tasas',axis = 1, inplace = True)

In [56]:
total.columns

Index(['Sexo', 'Provincias', 'Periodo', 'actividad', 'Year', 'Trimestre',
       'codPr', 'mes', 'date', 'empleo', 'paro'],
      dtype='object')

In [57]:
total = total.iloc[:,[0,6,1,2,4,5,7,8,3,9,10]]
    #psico_prim= psico_prim.iloc[:, [0,1,6,2,3,4,7,8,9,10,5]]

In [58]:
total.sample(10)

,Sexo,codPr,Provincias,Periodo,Year,Trimestre,mes,date,actividad,empleo,paro
13,Hombres,2,Albacete,2018T2,2018,2,6,2018-06-25,67.41,56.23,16.59
3302,Mujeres,16,Cuenca,2018T3,2018,3,9,2018-09-25,47.76,38.93,18.49
2481,Mujeres,2,Albacete,2012T2,2012,2,6,2012-06-25,50.48,31.34,37.92
3674,Mujeres,24,León,2019T3,2019,3,9,2019-09-25,48.23,41.42,14.13
3553,Mujeres,21,Huelva,2014T3,2014,3,9,2014-09-25,50.22,28.93,42.39
4796,Mujeres,51,Ceuta,2021T1,2021,1,3,2021-03-25,50.73,34.79,31.42
520,Hombres,10,Cáceres,2020T4,2020,4,12,2020-12-25,58.21,49.62,14.75
1005,Hombres,18,Granada,2017T1,2017,1,3,2017-03-25,64.07,49.43,22.85
1139,Hombres,22,Huesca,2018T4,2018,4,12,2018-12-25,63.75,57.73,9.44
3730,Mujeres,25,Lleida,2017T2,2017,2,6,2017-06-25,51.87,44.18,14.82

In [59]:
total.to_csv('../data/tasas_empleo.csv',index=True)

# Índice de pobreza

In [60]:
pobreza = pd.read_excel('../data/at_primaria/Tasa de riesgo de pobreza por comunidades autónomas.xlsx')

In [62]:
pobreza.columns = ['CCAA','TASA', 'Year','Total']

In [64]:
pobreza[['cod_CA','CCAA']] = pobreza.CCAA.str.split(' ',1,expand = True)

In [67]:
pobreza.TASA.unique()

array(['Tasa de riesgo de pobreza (renta del año anterior a la entrevista)',
       'Tasa de riesgo de pobreza (con alquiler imputado) (renta del año anterior a la entrevista)'],
      dtype=object)

In [68]:
pobreza

,CCAA,TASA,Year,Total,cod_CA
0,Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2020,28.5,01
1,Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2019,31.3,01
2,Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2018,32.0,01
3,Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2017,31.0,01
4,Andalucía,Tasa de riesgo de pobreza (renta del año anter...,2016,35.4,01
...,...,...,...,...,...
489,Melilla,Tasa de riesgo de pobreza (con alquiler imputa...,2012,11.0,19
490,Melilla,Tasa de riesgo de pobreza (con alquiler imputa...,2011,21.9,19
491,Melilla,Tasa de riesgo de pobreza (con alquiler imputa...,2010,22.3,19
492,Melilla,Tasa de riesgo de pobreza (con alquiler imputa...,2009,25.5,19
493,Melilla,Tasa de riesgo de pobreza (con alquiler imputa...,2008,18.3,19

In [70]:
pobreza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CCAA    494 non-null    object
 1   TASA    494 non-null    object
 2   Year    494 non-null    int64
 3   Total   494 non-null    float64
 4   cod_CA  494 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 19.4+ KB