In [16]:
import pandas as pd
import os

# Causas meses

In [85]:
causas_meses = pd.read_excel('../data/suicidio/diferenes_causas_.xlsx')

In [86]:
causas_meses.sample(5)

,Sexo,Causa de muerte,Periodo,Total
1109,Hombres,048 Trastornos mentales debidos al uso de dro...,2010M07,5
4891,Mujeres,098 Suicidio y lesiones autoinfligidas,1982M05,45
3680,Mujeres,048 Trastornos mentales debidos al uso de dro...,2001M04,0
1288,Hombres,048 Trastornos mentales debidos al uso de dro...,1995M08,3
1134,Hombres,048 Trastornos mentales debidos al uso de dro...,2008M06,6

In [87]:
causas_meses["year"] = causas_meses.Periodo.str[0:4].str.strip().astype('int64')
causas_meses["month"] = causas_meses.Periodo.str[-2:].str.strip().astype('int64')

In [88]:
causas_meses.columns = causas_meses.columns.str.replace(" ",'_').str.strip().str.lower()

In [89]:
causas_meses.sample(3)

,sexo,causa_de_muerte,periodo,total,year,month
1000,Hombres,048 Trastornos mentales debidos al uso de dro...,2019M08,2,2019,8
4341,Mujeres,049 Otros trastornos mentales y del comportam...,1987M03,9,1987,3
1798,Hombres,049 Otros trastornos mentales y del comportam...,1994M02,10,1994,2

# Provincias causa sexo

In [127]:
provincia_causa = pd.read_excel('../data/suicidio/provincia_causa_anos.xlsx')

In [128]:
provincia_causa.sample(3) #046-049  V.Trastornos mentales y del comportamiento

,Provincias,Causa de muerte,Sexo,Periodo,Total
2992,36 Pontevedra,046-049 V.Trastornos mentales y del comportam...,Hombres,1980,10
1248,13 Ciudad Real,046-049 V.Trastornos mentales y del comportam...,Hombres,2002,61
329,33 Asturias,046-049 V.Trastornos mentales y del comportam...,Hombres,2019,278

In [129]:
provincia_causa.columns = provincia_causa.columns.str.replace(" ",'_').str.strip().str.lower()

In [130]:
provincia_causa.drop('causa_de_muerte',axis=1,inplace = True)

In [131]:
provincia_causa[['cod_pro', 'provincias']] = provincia_causa.provincias.str.split(' ',1,expand=True)

In [132]:
provincia_causa.provincias.fillna('Extranjero',inplace = True)

In [135]:
provincia_causa.cod_pro = provincia_causa.cod_pro.str.replace('Extranjero','53').astype('int64')

In [136]:
provincia_causa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provincias  4346 non-null   object
 1   sexo        4346 non-null   object
 2   periodo     4346 non-null   int64
 3   total       4346 non-null   int64
 4   cod_pro     4346 non-null   int64
dtypes: int64(3), object(2)
memory usage: 169.9+ KB

# suicidio provincia year

In [255]:
suicidio_provincia_year = pd.read_excel('../data/suicidio/provincia_Sexo_20162020.xlsx')

In [256]:
suicidio_provincia_year.sample(3)

,Provincia de defunci�n,Causa de muerte (lista reducida),Sexo,a�o,Total
170,"Coru�a, A",098 Suicidio y lesiones autoinfligidas,Hombres,2020,15
188,Cuenca,098 Suicidio y lesiones autoinfligidas,Mujeres,2017,4
291,Madrid,098 Suicidio y lesiones autoinfligidas,Hombres,2019,83

In [257]:
suicidio_provincia_year.columns = ['provincia','causa','sexo','year','total']

In [258]:
suicidio_provincia_year.causa.unique() #'098 Suicidio y lesiones autoinfligidas'

array(['098 Suicidio y lesiones autoinfligidas'], dtype=object)

In [259]:
suicidio_provincia_year.drop('causa',axis = 1,inplace = True)

In [260]:
suicidio_provincia_year.isna().sum()

provincia    0
sexo         0
year         0
total        0
dtype: int64

In [261]:
suicidio_provincia_year.total.unique()

array([6, 12, 8, 9, 3, 2, 1, 40, 48, 55, 53, 39, 16, 14, 13, 7, 19, 31,
       20, 5, '..', 30, 32, 46, 47, 18, 17, 11, 10, 22, 28, 36, 15, 113,
       109, 122, 98, 106, 49, 42, 23, 26, 34, 4, 29, 27, 25, 24, 33, 38,
       43, 52, 21, 100, 83, 104, 96, 75, 41, 45, 51, 35, 44, 73, 60, 50],
      dtype=object)

In [262]:
suicidio_provincia_year.total=suicidio_provincia_year.total.replace('..','0').astype('int64')

In [263]:
suicidio_provincia_year.sample(3)

      provincia     sexo  year  total
46     Asturias  Mujeres  2019     13
477  Valladolid  Mujeres  2018      6
340    Palencia  Hombres  2020      3

# suicidio edad sexo_year

In [437]:
suicidio_edad_sexo = pd.read_excel('../data/suicidio/suicidios_lesiones.xlsx')

In [438]:
suicidio_edad_sexo.sample(3)

,Causa de muerte,Sexo,Edad,Periodo,Total
1362,098 Suicidio y lesiones autoinfligidas,Mujeres,De 55 a 59 a�os,2011,57
952,098 Suicidio y lesiones autoinfligidas,Mujeres,De 5 a 9 a�os,2011,0
234,098 Suicidio y lesiones autoinfligidas,Hombres,De 20 a 24 a�os,1991,158

In [439]:
suicidio_edad_sexo.columns = suicidio_edad_sexo.columns.str.replace(' ','_').str.lower()

In [440]:
suicidio_edad_sexo.causa_de_muerte.unique() #'098  Suicidio y lesiones autoinfligidas'

array(['098  Suicidio y lesiones autoinfligidas'], dtype=object)

In [441]:
suicidio_edad_sexo.drop('causa_de_muerte',axis=1,inplace = True)

In [442]:
#menmos de 5 no hay, quitamos
menores = ['Menos de 1 a�o','De 1 a 4 a�os']
menores_drop = suicidio_edad_sexo[suicidio_edad_sexo['edad'].isin(menores)].index

In [443]:
suicidio_edad_sexo.drop(menores_drop,inplace = True)

In [444]:
suicidio_edad_sexo.edad = suicidio_edad_sexo.edad.str.strip()

In [445]:
suicidio_edad_sexo.edad = suicidio_edad_sexo.edad.str.extract(r'((\d+)\D*$)')[1].astype('int64')

In [448]:
suicidio_edad_sexo.sample(5)

         sexo  edad  periodo  total
164   Hombres    19     2020     31
1336  Mujeres    54     1996     64
667   Hombres    79     2009    221
1609  Mujeres    89     2010     27
550   Hombres    64     2003    142