In [1]:
import pandas as pd
import os

In [2]:
os.listdir('../data/eurostats')

['causes_death.tsv']

In [3]:
euro_01 = pd.read_csv('../data/eurostats/causes_death.tsv')

In [4]:
col_eutime = euro_01.columns[-1]

In [5]:
new_col = euro_01.columns[-1].split('\t')

In [6]:
euro_01[new_col] = euro_01[col_eutime].str.split("\t",expand=True)

In [7]:
euro_01.sample(5)

,unit,sex,age,icd10,resid,geo\time\t2019 \t2018 \t2017 \t2016 \t2015 \t2014 \t2013 \t2012 \t2011,geo\time,2019,2018,2017,2016,2015,2014,2013,2012,2011
62734,NR,F,Y40-44,J45_J46,TOT_IN,NO\t: \t0 \t0 \t0 \t0 \t0 \t0 \t0 \t0,NO,:,0,0,0,0,0,0,0,0
85872,NR,F,Y55-59,C43,TOT_IN,LV\t: \t1 \t2 \t2 \t5 \t2 \t4 \t1 \t5,LV,:,1,2,2,5,2,4,1,5
278250,NR,M,Y60-64,Q,TOT_RESID,ES\t: \t32 p\t21 \t28 \t28 \t38 \t29 \t23 \t26,ES,:,32 p,21,28,28,38,29,23,26
177304,NR,F,Y_LT65,C64,TOT_RESID,LV\t: \t11 p\t11 \t8 \t14 \t13 \t19 \t12 \t22,LV,:,11 p,11,8,14,13,19,12,22
541672,NR,T,Y_LT65,D00-D48,TOT_IN,EU28\t: \t: \t5962 \t5821 \t5642 \t5731 \t5865...,EU28,:,:,5962,5821,5642,5731,5865,5528,5881

In [8]:
euro_01.shape

(545748, 16)

In [9]:
euro_01.drop(col_eutime,axis=1,inplace = True)

In [10]:
euro_01.drop('unit',axis=1,inplace = True)

In [11]:
euro_01.rename({"geo\\time":"c_code"},axis=1,inplace =True)

In [12]:
euro_01.icd10.unique()

array(['A-R_V-Y', 'A15-A19_B90', 'ACC', 'ACC_OTH', 'A_B', 'A_B_OTH',
       'B15-B19_B942', 'B180-B182', 'B20-B24', 'C', 'C00-C14', 'C00-D48',
       'C15', 'C16', 'C18-C21', 'C22', 'C25', 'C32', 'C33_C34', 'C43',
       'C50', 'C53', 'C54_C55', 'C56', 'C61', 'C64', 'C67', 'C70-C72',
       'C73', 'C81-C86', 'C88_C90_C96', 'C91-C95', 'C_OTH', 'D00-D48',
       'D50-D89', 'E', 'E10-E14', 'E_OTH', 'F', 'F01_F03', 'F10', 'F_OTH',
       'G20', 'G30', 'G_H', 'G_H_OTH', 'I', 'I20-I25', 'I20_I23-I25',
       'I21_I22', 'I30-I51', 'I60-I69', 'I_OTH', 'J', 'J09-J11',
       'J12-J18', 'J40-J44_J47', 'J40-J47', 'J45_J46', 'J_OTH', 'K',
       'K25-K28', 'K70_K73_K74', 'K72-K75', 'K_OTH', 'L', 'M', 'M_OTH',
       'N', 'N00-N29', 'N_OTH', 'O', 'P', 'Q', 'R', 'R95', 'R96-R99',
       'RHEUM_ARTHRO', 'R_OTH', 'TOXICO', 'V01-Y89', 'V01-Y89_OTH',
       'V_Y85', 'W00-W19', 'W65-W74', 'X40-X49', 'X60-X84_Y870',
       'X85-Y09_Y871', 'Y10-Y34_Y872'], dtype=object)

In [13]:
euro_01 = euro_01[euro_01["icd10"].str.contains(r'(^F)')]

<ipython-input-13-c8388e9bdf26>:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  euro_01 = euro_01[euro_01["icd10"].str.contains(r'(^F)')]

In [14]:
#[TOT_IN] All deaths reported in the country 
# [TOT_RESID] All deaths of residents in or outside their home country
#only tot_in

In [15]:
euro_01 = euro_01[euro_01['resid'] == 'TOT_IN']

In [16]:
euro_01.sex.unique() #drop T

array(['F', 'M', 'T'], dtype=object)

In [17]:
euro_01.age.unique() #drop TOTAL

array(['TOTAL', 'Y1-4', 'Y10-14', 'Y15-19', 'Y15-24', 'Y20-24', 'Y25-29',
       'Y30-34', 'Y35-39', 'Y40-44', 'Y45-49', 'Y5-9', 'Y50-54', 'Y55-59',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y75-79', 'Y80-84', 'Y85-89',
       'Y90-94', 'Y_GE65', 'Y_GE85', 'Y_GE95', 'Y_LT1', 'Y_LT15',
       'Y_LT25', 'Y_LT65'], dtype=object)

In [18]:
euro_01.sample(10)

,sex,age,icd10,resid,c_code,2019,2018,2017,2016,2015,2014,2013,2012,2011
269251,M,Y55-59,F01_F03,TOT_IN,NO,:,1,0,2,1,1,0,3,0
9361,F,Y1-4,F01_F03,TOT_IN,HU,0,0,0,0,0,0,0,0,0
262810,M,Y50-54,F10,TOT_IN,ES,23,20,16,21,36,18,27,27,28
522629,T,Y_LT1,F01_F03,TOT_IN,LT,0,0,0,0,0,0,0,0,0
132812,F,Y90-94,F01_F03,TOT_IN,MT,:,45,41,35,20,15,23,10,16
490075,T,Y85-89,F,TOT_IN,NL,3509,3608,3556,3410,3208,2835,2933,2406,2246
412249,T,Y30-34,F10,TOT_IN,IE,:,0,0,0,0,0,0,0,0
223833,M,Y25-29,F10,TOT_IN,FX,:,:,8,6,6,6,16,18,6
542269,T,Y_LT65,F_OTH,TOT_IN,MT,:,2,0,1,0,0,:,1,3
509632,T,Y_GE85,F01_F03,TOT_IN,IS,:,59,49,44,45,51,40,32,37

In [19]:
euro_01 = euro_01[euro_01['age'] != 'TOTAL']

In [20]:
euro_01 = euro_01[euro_01['sex'] != 'T']

In [21]:
euro_01.icd10.unique()

array(['F', 'F01_F03', 'F10', 'F_OTH'], dtype=object)

In [22]:
# [F] Mental and behavioural disorders (F00-F99)
# [F_OTH] Other mental and behavioural disorders (remainder of F00-F99)
#  [F01_F03] Dementia
# [F10] Mental and behavioural disorders due to use of alcohol
F_dic = {"F":"Mental and behavioural disorders","F10":'Mental and behavioural disorders due to use of alcohol','F01_F03':'Dementia',
            'F10':'Mental and behavioural disorders due to use of alcohol','F_OTH':'Other mental and behavioural disorders'}

In [23]:
euro_01["diag"] = euro_01.icd10.replace(F_dic)

In [27]:
euro_01.c_code.unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'FI', 'FR', 'FX', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK',
       'TR', 'UK'], dtype=object)

In [25]:
eurozon = ['EU27_2020', 'EU28']

In [26]:
euro_01 = euro_01[euro_01['c_code'].isin(eurozon) == False]

In [33]:
#FX = France, metropolitan
countries_dic = {"AT":"Austria","BE":"Belgium","BG":"Bulgaria","HR":"Croatia","CY":"Cyprus","CZ":"Czech Republic","DK":"Denmark",
"EE":"Estonia","FI":"Finland","FR":"France","FX":"France","DE":"Germany","EL":"Greece","HU":"Hungary","IS":"Iceland","IE":"Ireland, Republic of (EIRE)",
"IT":"Italy","LV":"Latvia","LT":"Lithuania","LI":"Liechtenstein","LU":"Luxembourg","MT":"Malta","NL":"Netherlands","NO":"Norway","PL":"Poland",
"PT":"Portugal","RO":"Romania","SK":"Slovakia","SI":"Slovenia","ES":"Spain","RS":"Serbia","SE":"Sweden","CH":"Switzerland","TR":"Turkey","UK":"United Kingdom"}

In [34]:
euro_01["country"] = euro_01['c_code'].replace(countries_dic)

In [35]:
euro_01.country.unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Cyprus',
       'Czech Republic', 'Germany', 'Denmark', 'Estonia', 'Greece',
       'Spain', 'Finland', 'France', 'Croatia', 'Hungary',
       'Ireland, Republic of (EIRE)', 'Iceland', 'Italy', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Malta', 'Netherlands',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Sweden',
       'Slovenia', 'Slovakia', 'Turkey', 'United Kingdom'], dtype=object)

In [ ]:
euro_01.sample(5)

In [ ]:
euro_01.info()